# Ignore everyting
*

# Except system files
!.gitignore
!*.md

# Except folders

!src/
!src/model/
!src/manuscript/
!src/manuscript/*
!src/manuscript/Diversity/*
!src/manuscript/Diversity/images/*
!src/manuscript/Fidelity/*
!src/manuscript/Fidelity/images/*
!src/manuscript/Fidelity/helpers/*
!src/manuscript/Privacy/*
!src/manuscript/Privacy/images/*
!src/manuscript/Privacy/images/supp/*
!src/manuscript/Train/*
!src/manuscript/Train/restricted/*
!src/manuscript/Train/restricted/splitT1STIRv1.npy

# Except files
!*.py
!*.ipynb
!*.pylintrc
!*.cfg
!*.json
!*.yml
!*.sh
!*.zip
!*.png
!*.pt
!*.pkl
!*.pptx
*.ipynb_checkpoints/*